* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

header, footer {
    background-color: #E1D5E7;
    color: #000000;
    text-align: center;
}

main {
    max-width: 1000px;
    margin: 50px auto;
    background-color: #ffffff;
}


/* ------------------------- Header ------------------------- */

h1 {
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    padding: 10px;
}

header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E1D5E7;
    color: black;
}


/* ------------------------- Logo ------------------------- */

header img {
    max-width: 100px;
    border: #76608A solid 2px;
    border-radius: 10em;
    height: auto;
    float: left;
}


/* ------------------------- Navigation ------------------------- */

#menu {
    font-size: 30px;
    border: 0;
    background: none;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 0rem;
}

#menu::before {
    content: "☰";
    border-radius: 10px;
    padding: 5px;
    color: white;
}

#menu.open::before {
    content: "🤍";
}

.nav-links {
    background-color: #76608A;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    font-size: 20px;
}

.nav-links a {
    display: none;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}

.nav-links a:hover {
    background-color: #fffd9d;
    color: #1d1d1d;
}

.open a {
    display: block;
}


/*  ------------------------- Welcome Message ------------------------- */

#welcome-message {
    text-align: center;
    font-size: 18px;
    margin: 50px;
    padding: 35px;
    background-color: #E1D5E7;
    border-radius: 25px;
}

#welcome-message h2 {
    font-size: 30px;
    padding-bottom: 15px;
}

#welcome-message h3 {
    font-size: 20px;
    padding: 10px;
}


/* ------------------------- Main Content ------------------------- */

#intro {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    place-items: center;
    margin: 5px 20px;
    padding: 20px;
    padding-bottom: 30px;
}

#intro img {
    width: 70%;
    height: auto;
    border-radius: 25px;
    padding-bottom: 10px;
}

#what-is-music {
    border-radius: 10px;
}

#what-is-music h2 {
    text-align: center;
    padding: 5px;
    font-size: 28px;
    color: black;
    border-bottom: #000000 solid 2px;
}

#what-is-music p {
    padding: 15px;
    font-size: 18px;
    line-height: 1.5;
}


/* ------------------------- Top 6 section ------------------------- */

#top-6 {
    margin: auto;
}

#top-6 h2 {
    font-size: 30px;
    text-align: center;
    color: black;
    font-weight: 700;
    border-bottom: #000000 solid 2px;
    padding: 10px;
}

#top-6 p {
    font-size: 20px;
    text-align: center;
    padding: 25px;
}

.album1, .album2, .album3, .album4, .album5, .album6 {
    padding: 30px;
    border: #76608A solid 2px;
    background-color: #E1D5E7;
}

.album-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    row-gap: 30px;
    column-gap: 30px;
    place-items: center;
    margin: 5px 10px;
    padding: 10px;
}

.album-section h2 {
    text-align: center;
    font-size: 25px;
    color: black;
    border-bottom: #000000 solid 2px;
}

.album-section h3 {
    font-size: 25px;
    text-align: center;
    color: black;
    font-weight: 700;
}

.album-section p1 {
    font-size: 17px;
    text-align: left;
    padding: 20px;
    list-style: "♪";
}

picture img {
    max-width: 100%;
    height: auto;
    padding: 20px;
    animation: fade 10s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/*  ------------------------- Music Genres Section ------------------------- */

#music-genres {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    place-items: center;
    padding-top: 50px;
    padding-bottom: 50px;

}

#music-genres img {
    max-width: 80%;
    height: auto;
    border-radius: 20px;
}

#genres h2 {
    text-align: center;
    font-size: 25px;
    color: black;
    border-bottom: #000000 solid 2px;
    padding: 5px;
}

#genres p {
    font-size: 18px;
    text-align: center;
    padding: 15px;
}

/* ------------------------- Genres List ------------------------- */

#genres-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    place-items: center;
    gap: 35px;
    margin: 5px 10px;
    padding: 20px;
}

#types-music h2{
    text-align: center;
    font-size: 30px;
    border-bottom: #000000 solid 2px;
    padding: 10px;
}

.type1, .type2, .type3, .type4, .type5,
.type6, .type7, .type8, .type9, .type10 {
    border: #76608A solid 2px;
    margin: 10px;
    justify-content: center;
    padding: 20px;
}

#genres-list img {
    float: left;
    padding: 15px;
}

.genres-text {
    padding: 17px;
}

.genres-text h3 {
    font-size: 24px;
    text-align: left;
    padding-bottom: 10px;
}

.genres-text p {
    font-size: 16px;
    text-align: left; 
}

.genres-text h3, .genres-text p {
    padding-left: 10px;
}


/* ------------------------- Footer ------------------------- */

footer {
    text-align: center;
    padding: 25px;
}

footer p {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 1.5;
}

#lastModified {
    font-style: italic;
    color: #9c2828;
}