@media (min-width: 900px) {
    #menu {
        display: none;
    }

    .nav-links {
        flex-direction: row;
    }

    .nav-links a {
        display: block;
    }

    main {
        max-width: 1200px;
        justify-content: center;
    }
}