@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #76608A;
}

header, footer {
    background-color: #E1D5E7;
    color: #000000;
    text-align: center;
    padding: 15px 0;
}

main {
    max-width: 850px;
    margin: 50px auto;
    padding: 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #E1D5E7;
}

h1 {
    font-size: 35px;
}

h2 {
    border-bottom: 2px solid #000000;
    padding-bottom: 5px;
    font-size: 30px;
    color: #76608A;
}

h3 {
    font-size: 20px;
}

h4 {
    color: #76608A;
    font-size: 25px;
}

section {
    margin-bottom: 2em;
}

img {
    max-width: 100%;
    height: auto;
    border: 1px solid #76608A;
    border-radius: 5px;
}