@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


body {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #503d61;
}

header, footer {
    background-color: #E1D5E7;
    color: #000000;
    text-align: center;
    padding: 15px 0;
}

footer {
    line-height: 10px;
}

#lastModified {
    font-weight: bold;
}

main {
    max-width: 850px;
    margin: 45px auto;
    padding: 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #E1D5E7;
}

h1 {
    font-size: 35px;
    font-weight: 900;
}

h2 {
    border-bottom: 2px solid #000000;
    padding-bottom: 5px;
    font-size: 25px;
    font-weight: 900;
    color: #503d61;
}

h3 {
    font-size: 20px;
}

h4 {
    color: #503d61;
    font-size: 25px;
    font-weight: 900;
}

li {
    font-style: italic;
    margin: 5px;
}

section {
    margin-bottom: 2em;
}

img {
    max-width: 30%;
    height: auto;
    border: 1px solid #503d61;
    border-radius: 10px;
    margin: 15px;
}
