@media screen and (min-width: 1000px) {

    body {
        background-color: #E2E2B6;
    }

    h1 {
        font-size: 40px;
    }

    .container {
        margin: 0;
        text-align: center;
        position: relative;
        display: inline;
        text-align: center;
    }

    .hero img {
        width: 100%;
        height: auto;
        mask-image: linear-gradient(#03346E 40%, transparent);
        pointer-events: none;
    }

    .hero-section {
        margin-top: 20px;
        padding: 0;
        border-radius: 0;
    }

    .box-title {
        padding: 10px 20px;
        background-color: #537bada4;
        text-align: left;
        color: white;
        font-size: 20px;
        margin-top: 10px;
        margin-right: 50px;
    }

    table {
        font-size: 15px;
        padding: 10px;
        padding-top: 15px;
    }

    .data, .weather {
        position: absolute;
        padding: 0 0 20px 0;
        background-color: #ffffff60;
    }

    .data {
        top: 5%;
        left: 2%;
        width: auto;
        height: auto;
    }

    .weather {
        bottom: 5%;
        right: 2%;
        width: auto;
        height: auto;
    }

    .weather-icon, .data-icon {
        display: inline;
    }

    .data-icon::after {
        content: "";
    }

    .weather img {
        display: none;
    }

}