.img {
    max-width: 320px;
    margin-bottom: 8px;
}

.figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

@media (min-width: 900px) {
    #menu {
        display: none;
    }

    .navigation {
        flex-direction: row;
    }

    .navigation a {
        display: block;
    }

    main {
        max-width: 1200px;
        justify-content: center;
    }

    h2 {
        font-size: 2rem;
    }

    .temple-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 20px;
        justify-content: center;
    }

    main figure {
        margin: 0;
        padding: 0;
    }

    .res-grid img {
        max-width: 400px;
        height: auto;

    }
}

@media (min-width:750px) {
    .img {
        max-width: 220px;
        margin-bottom: 8px;
    }

    .temple-grid {
        gap: 20px;
        padding: 20px;
    }
}